@import 'fonts';
@import 'shared/classes';
@import 'transitions';


// defaults

div, h2, p, i, header, footer, img, nav, input{
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'main', Arial;
  font-size: px($sm-base-font-size);
  margin: 0;
  padding: 0;
  white-space: pre-line;
  word-wrap: break-word;
  height: 100%;

  @media only screen and (max-width: $screen-md) and (min-width: ($screen-sm + 1)) {
    font-size: px($md-base-font-size);
  }

  @media only screen and (min-width: ($screen-md + 1)) {
    font-size: px($base-font-size);
  }
}

a{
  text-decoration: none;
  color: inherit;
}

// helpers

.valign-block{
  display: table;
  width: 100%;
  &.auto{ width: auto; }
  & > *:not(.dsp-none) { display: table-cell; vertical-align: middle; }
  &.first-max > *:first-child{ width: 100%; }
  &.first-left > *:first-child{ text-align: left; }
  &.last-max > *:last-child{ width: 100%; }
  &.last-right > *:last-child{ text-align: right; }
  &.nowrap{ white-space: nowrap; }
  &.last-top > *:last-child{ vertical-align: top; }
  &.last-bot > *:last-child{ vertical-align: bottom; }
}

// video player

/* video::-webkit-media-controls {
    display:none !important;
}

video::-moz-media-controls-panel{
  background-color: red;
  position: relative;
  z-index: 9999;
  pointer-events: none;
} */

/* :-webkit-full-screen-ancestor{
  display: block;
  width: 0px;
}

video::-webkit-media-controls-fullscreen-button {
  display: block;
}

.video::-webkit-full-screen{
  width: 50px;
  height: 50px;
  &:after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top:0;
    background-color: blue;
  }
}

div:-webkit-full-screen-ancestor:not(iframe) {
  position: relative;
  z-index: -1;
} */

// extras

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.columns{
	-webkit-columns: 4 200px;
	-moz-columns: 4 200px;
	columns: 4 200px;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	column-gap: 1em;
	> div{
		-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
	}
}

.scrollable{
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}

.hack{
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.sm-join-conversation{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  padding: 10px;
}


@keyframes spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.loading-spinner {
  width: 22px !important;
  height: 22px !important;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-top-color: lighten($clr-black, $shade3);
  border-left-color: lighten($clr-black, $shade3);
  border-radius: 50%;
  -webkit-animation: spinner 400ms linear infinite;
  animation: spinner 400ms linear infinite;
  &.clr-white{
    border-top-color: $clr-white !important;
    border-left-color: $clr-white !important;
  }
  &.clr-grey{
    border-top-color: $clr-grey !important;
    border-left-color: $clr-grey !important;
  }
  &.clr-main{
    border-top-color: $clr-main !important;
    border-left-color: $clr-main !important;
  }
  &.clr-black{
    border-top-color: $clr-black !important;
    border-left-color: $clr-black !important;
  }
  &.clr-grey{
    border-top-color: $clr-grey !important;
    border-left-color: $clr-grey !important;
  }
}

.loading-spinner-small {
  width: 15px!important;
  height: 15px!important;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: $clr-white!important;
  border-left-color: $clr-white!important;
  border-radius: 50%;
  -webkit-animation: spinner 400ms linear infinite;
  animation: spinner 400ms linear infinite;
  vertical-align: bottom;
  display: inline-block;
}

