@font-face{
  font-family: 'main';
  src: url('/fonts/proximanova/ProximaNova-Light.otf') format('truetype');
}

@font-face{
  font-family: 'main-reg';
  src: url('/fonts/proximanova/ProximaNova-Regular.otf') format('truetype');
}

@font-face{
  font-family: 'second';
  src: url('/fonts/metric/Metric-Regular.otf') format('truetype');
}

@font-face{
	font-family: 'second-thin';
  	src: url('/fonts/metric/Metric-Thin.otf') format('truetype');
}

@font-face{
  font-family: 'second-light';
  src: url('/fonts/metric/Metric-Light.otf') format('truetype');
}

.fnt-second{
	font-family: 'Second', Arial;
}

.fnt-second-l{
	font-family: 'second-light', Arial;
}

.fnt-second-t{
	font-family: 'second-thin', Arial;
}

.fnt-main-reg{
  font-family: 'main-reg', Arial;
}

//icons

@font-face {
  font-family: 'versy';
  src:
      url('/fonts/icons/versy.ttf?u4b89y') format('truetype'),
      url('/fonts/icons/versy.woff?u4b89y') format('woff'),
      url('/fonts/icons/versy.svg?u4b89y#versy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'versy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analytics:before {
    content: "\e939";
}
.icon-user-blocked:before {
    content: "\e937";
}
.icon-clock:before {
    content: "\e938";
}
.icon-comments:before {
    content: "\e92c";
}
.icon-streamplus:before {
    content: "\e934";
}
.icon-sad:before {
    content: "\e935";
}
.icon-privacypolicy:before {
    content: "\e936";
}
.icon-gender:before {
    content: "\e926";
}
.icon-globe:before {
    content: "\e933";
}
.icon-envelope:before {
    content: "\e924";
}
.icon-hash:before {
    content: "\e925";
}
.icon-plus-big:before {
    content: "\e927";
}
.icon-termsofuse:before {
    content: "\e928";
}
.icon-star:before {
    content: "\e929";
}
.icon-language:before {
    content: "\e92a";
}
.icon-google:before {
    content: "\e92d";
}
.icon-twitter:before {
    content: "\e92e";
}
.icon-facebook:before {
    content: "\e92f";
}
.icon-email:before {
    content: "\e930";
}
.icon-crown:before {
    content: "\e931";
}
.icon-times-big:before {
    content: "\e932";
}
.icon-volume:before {
    content: "\e900";
}
.icon-view:before {
    content: "\e901";
}
.icon-versy-logo:before {
    content: "\e902";
}
.icon-upload:before {
    content: "\e903";
}
.icon-up:before {
    content: "\e904";
}
.icon-tick:before {
    content: "\e905";
}
.icon-tick-big:before {
    content: "\e906";
}
.icon-sign-in-out:before {
    content: "\e907";
}
.icon-share:before {
    content: "\e908";
}
.icon-settings:before {
    content: "\e909";
}
.icon-search:before {
    content: "\e90a";
}
.icon-repost:before {
    content: "\e90b";
}
.icon-profile:before {
    content: "\e90c";
}
.icon-plus:before {
    content: "\e90d";
}
.icon-play:before {
    content: "\e90e";
}
.icon-pause:before {
    content: "\e90f";
}
.icon-padlock-open:before {
    content: "\e910";
}
.icon-padlock-closed:before {
    content: "\e911";
}
.icon-notifications:before {
    content: "\e912";
}
.icon-music:before {
    content: "\e913";
}
.icon-more-menu:before {
    content: "\e914";
}
.icon-menu:before {
    content: "\e915";
}
.icon-link:before {
    content: "\e916";
}
.icon-info:before {
    content: "\e917";
}
.icon-increase:before {
    content: "\e918";
}
.icon-group:before {
    content: "\e919";
}
.icon-film:before {
    content: "\e91a";
}
.icon-down:before {
    content: "\e91b";
}
.icon-decrease:before {
    content: "\e91c";
}
.icon-close:before {
    content: "\e91d";
}
.icon-chevron-down:before {
    content: "\e92b";
}
.icon-chevron-forward:before {
    content: "\e91e";
}
.icon-chevron-back:before {
    content: "\e91f";
}
.icon-camera:before {
    content: "\e920";
}
.icon-back:before {
    content: "\e921";
}
.icon-attachment:before {
    content: "\e922";
}
.icon-alert:before {
    content: "\e923";
}