$duration: 0.25s;
$leaveDuration: 0.1s;

.slideLeft {
  animation-name: slideLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}
.slideRight {
  animation-name: slideRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

.slideTop {
  animation-name: slideTop;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $duration;
}
.slideBot {
  animation-name: slideBottom;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $duration;
}
.slideToTop{
  animation-name: slideToTop;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $duration;
}
.zoomIn{
  animation-name: zoomIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: $duration;
}

.fadeIn {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  opacity: 1;
}

.fadeOut {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  opacity: 0.5;
}

.grow {
  animation-name: grow;
  animation-iteration-count: 1;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.spin {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation:    spin 4s infinite linear;
  -o-animation:      spin 4s infinite linear;
}

.bounce {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@keyframes grow{
  from {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1.03, 1.03, 1.03);
  }
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0.5;}
}

@keyframes fadeIn {
  from {opacity: 0.3;}
  to {opacity: 1;}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.9, .9, .9);
  }

  50% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {transform: translateX(-100%); opacity: 0;}
  100% {transform: translateX(0); opacity: 1 }
}

@keyframes slideRight {
  0% {transform: translateX(100%); opacity: 0;}
  100% {transform: translateX(0); opacity: 1 }
}

@keyframes slideLeft-leave {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

@keyframes slideTop {
  0% {transform: translateY(-60px);}
  100% {transform: translateY(0);}
}

@keyframes slideBottom {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}

@keyframes slideTop {
  0% {transform: translateY(60px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}


@keyframes slideToTop {
  0% {transform: height(100%);}
  100% {transform: height(0);}
}

@keyframes heightAuto {
  0% {transform: max-height(0);}
  100% {transform: max-height(100%);}
}

@keyframes spin {
  0%  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0%  {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.item-enter {
  opacity: 0;
}

.item-enter.item-enter-active {
  opacity: 1;
  transition: opacity $duration;
}

.item-leave {
  opacity: 1;
}

.item-leave.item-leave-active {
  opacity: 0;
  transition: opacity $duration;
}

.item-appear {
  animation-name: slideTop;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: $duration;
}

.form-enter{max-height: 0;}
.form-enter.form-enter-active{max-height: 300px; transition: max-height $duration;}
.form-leave{max-height: 300px;}
.form-leave.form-leave-active{max-height: 0; transition: max-height $duration;}

.width-enter{max-width: 0;}
.width-enter.width-enter-active{max-width: 100%; transition: max-width $duration;}
.width-leave{max-width: 100%;}
.width-leave.width-leave-active{max-width: 0; transition: max-width $duration;}

.opacity-enter, .opacity-appear{opacity: 0;}
.opacity-enter.opacity-enter-active, .opacity-appear.opacity-appear-active{opacity: 1; transition: opacity 1s;}
.opacity-leave{opacity: 1;}
.opacity-leave.opacity-leave-active{opacity: 0; transition: opacity $duration;}

.flip-enter, .flip-appear{opacity: 0;}
.flip-enter.flip-enter-active, .flip-appear.flip-appear-active{opacity: 1; transition: opacity 1s;}
.flip-leave{opacity: 1;}
.flip-leave.flip-leave-active{opacity: 0; transition: opacity $duration;}

@media only screen and (min-width: $screen-md){
  .lg-fadeIn {
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    opacity: 1;
  }
}

.anim-dur-01{
  animation-duration: 0.1s;
}

.hover-rotate-45:hover {
  animation: spin-bit $duration 1 linear;
}

@keyframes spin-bit {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}
