.content-category {
	font-size: em(18);
	border-radius: em(15);
	border: 2px solid $clr-main;
	padding: em(5) em(20);
	color: $clr-main;
	text-transform: capitalize;
	cursor: pointer;
	display: inline-block;
	margin: 0 em(5) em(5) 0;
	font-family: 'main-reg', Arial;
	transition: color $trans-duration ease-in;
  transition-property: color, background-color;

  i.icon-tick-big{ display: none; padding: 0; }

  &.content-category--active{
  	color: $clr-white;
		background-color: $clr-main;
		> i.icon-tick-big{ display: inline; }
  }

	&:hover{
		color: $clr-white;
		background-color: $clr-main;
	}

	@media only screen and (min-width: ($screen-md + 1)) {
		margin: 0 em(5) 0 0;
		font-size: em(16);
	}
}