.content-author img{
	//border: 1px solid $clr-white;
	border-radius: 50%;
	vertical-align: bottom;
}

.content-author h3, .content-author h4{
	margin: 0 0 em(1) 0;
	padding-left: 10px;
	color: $clr-black;
	font-size: em(20);
}

.content-author time{
	padding-left: 10px;
	font-size: em(14);
	color: darken($clr-grey, $shade3);
}