$pdg-prc: 3%;
$mrg-em: em(15);

.content-card__wrapper{
	background: $clr-white;
	-webkit-overflow-scrolling: touch;
	/* position: absolute; */
	height: 100%;
	overflow: auto;
	//top: 0;
	//left: 0;
	//padding-top: 40px;

  @media only screen and (min-width: ($screen-md)) {
    //padding-top: 30px;
  }
}

.content-card__wrapper-header{
	position: fixed;
	width: 100%;
	background: $clr-white;
	z-index: 3;
	left:0;
	padding: em(10) 2%;
	border-bottom: 1px solid lighten($clr-grey, $shade1);
	@media only screen and (min-width: ($screen-md+1)) {
		width: 66.66667%;
	}
	@media only screen and (min-width: ($screen-sm+1)) {
		padding-left: 70px;
	}
}

.content-card__replies{
	background: lighten($clr-grey, $shade2);
	margin-bottom: 50px;
	border-top: solid 1px lighten($clr-grey, $shade1);
	@media only screen and (min-width: ($screen-md+1)) {
		display: none;
	}
}

.content-card__replies-older-button{
	width: 100%;
	border: none;
	text-align: left;
	padding: 10px $pdg-prc;
	outline: none;
	transition: padding-left 0.1s ease-in;
	background: none;
	color: $clr-main;
	opacity: 0.8;
	cursor: pointer;
	font-size: em(15);
	&:hover{
		padding-left: ($pdg-prc+1);
		opacity: 1;
	}
}

.content-card{
	background-color: $clr-white;
	margin: 0 auto;
	margin-top: 3%;
	color: $clr-black;
	//overflow: hidden;
	cursor: pointer;
}

.content-card header{
	padding: $mrg-em $pdg-prc 0 $pdg-prc;
	margin-bottom: $mrg-em;
}

.content-card footer{
	padding: 0 $pdg-prc $mrg-em $pdg-prc;
	margin-top: $mrg-em;
}

.content-card h2{
	padding: 0 $pdg-prc;
	margin: $mrg-em 0 em(10) 0;
}

.content-card p{
	margin: em(10) 0 $mrg-em 0;
	padding: 0 $pdg-prc;
	line-height: px($base-font-size * 1.5);
}

.content-card p a.content-tag{
	color: $clr-second;
	font-weight: bold;
	font-style: italic;
	&:hover{ color: lighten($clr-second, $shade2) }
}

.content-card p a.content-link{
	color: $clr-second;
	font-weight: bold;
	&:hover{ color: lighten($clr-second, $shade2) }
}

.content-card p b{
	color: $clr-main;
	margin-left: em(5);
	&:hover{ color: lighten($clr-main, $shade2) }
}

.content-card {
	& .icon-more-menu {
		transition: color $trans-duration ease-in;
	  	transition-property: color, background-color;
		padding: em(5);
		margin-left: em(2);
		border-radius: 50%;
		cursor: pointer;
		&:hover{
			background-color: $clr-main;
			color: $clr-white;
		}
	}
}

// modifiers
.content-card--transparent{
	@media only screen and (min-width: ($screen-md + 1)) {
		opacity: 0.6;
	}
}

.content-card--reply{
	font-size: 80%;
	border-bottom: solid 1px lighten($clr-grey, $shade1);
	margin-top: 0;
	margin-bottom: 5px;
	p, h2 { line-height: px($base-font-size * 1.4); }
}

.content-card--extended{
	max-width: 700px;
	cursor: default;
}
