$max-width: 600px;

.search-page{
}

.search-page header{
	max-width: $max-width;
	padding: em(10) 3%;
	margin: 0 auto;
	@media only screen and (min-width: ($screen-sm+1)) {
    padding: em(20) 3%;
  }
}

.search-page__header-wrapper{
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	left: 0;
	background: $clr-white;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	@media only screen and (min-width: ($screen-sm+1)) {
		padding-left: 60px;
	}
}

.search-page__header-wrapper a{
	padding-left: em(15);
	color: $clr-main;
	font-weight: bold;
	&:hover{ color: lighten($clr-main, $shade2); }
}

.search-page__nav-wrapper{
	border-top: solid 1px lighten($clr-grey, $shade1);
}

.search-page nav{
	max-width: $max-width;
	margin: 0 auto;
}

.search-page__results-container{
	max-width: $max-width;
	padding: 0 3% 30vh 3%;
	margin: 0 auto;
	padding-top: 50px;
	@media only screen and (min-width: ($screen-sm+1)) {
		padding-top: 70px;
	}
}

.search-page__results-container--tabs-on{
	padding-top: 110px;
	@media only screen and (min-width: ($screen-sm+1)) {
		padding-top: 130px;
	}
}

.search-page__results-container h3{
	padding: em(5) 0;
	border-bottom: solid 1px $clr-grey;
	margin: em(10) 0;
}

.search-page__results-container p{
	text-align: center;
	font-size: em(14);
	margin-bottom: em(20);
	color: darken($clr-grey, $shade3);
}