.content-category {
	font-size: em(10);
	font-weight: 200;
	border-radius: em(15);
	border: 2px solid $clr-main;
	padding: em(5) em(20);
	color: $clr-main;
	text-transform: capitalize;
	cursor: pointer;
	display: inline-block;
	/* margin: 0 em(5) em(5) 0; */
	margin: em(5);
	font-family: 'main-reg', Arial;
	transition: color $trans-duration ease-in;
  	transition-property: color, background-color;

	i.icon-tick-big{ opacity:0; }

	&.content-category--active{
		color: $clr-white;
		background-color: $clr-main;
		> i.icon-tick-big{ 
			opacity: 1; 
			padding-left: em(10); 
			display: table-cell !important; 
		}
	}

	&:hover{
		color: $clr-white;
		background-color: $clr-main;
	}

	&.content-category--active:hover{
		background-color: lighten($clr-main, $shade1);
	}

	
}